
/*面包屑*/
.password{
    min-width: 1200px;
    color: #333333;
    /*font-family:微软雅黑;*/
    font-size: 12px;
}

.password .breadcrumb a{
    font-size: 12px;
    padding:0 1.6px 3.2px;
    color: #000;
    text-decoration:none;
}
.password .breadcrumb-background{
    margin-top: 8px;
    background-color: #ffffff;
    font-family:微软雅黑;
}
.password .breadcrumb-last{
    font-weight: normal;
    color: #000 !important;
}

/*密码文字部分*/
.primary-content .password-text h3{
    font-size: 18px;
    margin-left: 14px;
    color: #333333;
    margin-top: 14px;
}
.primary-content .password-text p{
    font-size: 12px;
    margin-left: 14px;
    color: #333333;
    margin-bottom: 24px;

}
.primary-content .password-text{
    margin-top: -16px;
    font-family:微软雅黑;

}
/*.primary-content .password-text .heigt_password{*/
    /*height: 12px;*/
/*}*/
.primary-content .password-text h6{
    font-size: 12px;
    margin-left: 14px;
    margin-bottom: 18px;
}
/*发送密码框架*/
.primary-content .password-dialog{
    margin-left: 16px;
    font-family:微软雅黑;

}
.primary-content .password-heigt{
   height: 130px;
}
table tr td {
    height:30px;

}
.primary-content .input-email .reg-width {
    width: 298px;
    height: 30px;
}
.primary-content .input-email .dialog-style{
    background-color: #E5E5E5;
    border:#E5E5E5 1px solid;
    border-radius: inherit;

}
.primary-content .send-btn .password-dialog-btn{
    font-size: 14px;
    padding: 8px 30px 8px;
    outline: none;
    background: #000;
    color: #fff;
    border: 1px solid #000;
    float: left;
    margin-top: 20px;
    margin-left: 14px;
    font-family: 微软雅黑;
}

.forget-password{
    margin-bottom: 100px;
}

